NET "Clock" LOC = "p1"|IOSTANDARD=LVCMOS33; # CMOD-P35 - GCK2, Global Clock Input

#System level constraints
Net Clock TNM_NET = Clock;
Timespec TS_Clock = PERIOD Clock 10us; #adjust to suit Clock, 10us->100kHz

#Reset pin
NET "Reset" LOC = "p30"|IOSTANDARD=LVCMOS33; # CMOD-P18 - GCK2, Global Set/Reset
Net "Reset" TIG;

NET "Train" LOC = "p33"|IOSTANDARD=LVCMOS33; # CMOD-P24 - GTS0, Global Tristate Control
NET "CarNS" LOC = "p34"|IOSTANDARD=LVCMOS33; # CMOD-P25 - GTS1, Global Tristate Control

NET "PedNS" LOC = "p37"|IOSTANDARD=LVCMOS33; # CMOD-P27 - I/O

NET "HLights<1>" LOC = "p39"|IOSTANDARD=LVCMOS33; # CMOD-P29 - I/O
NET "HLights<0>" LOC = "p40"|IOSTANDARD=LVCMOS33; # CMOD-P30 - I/O

NET "VLights<1>" LOC = "p41"|IOSTANDARD=LVCMOS33; # CMOD-P31 - I/O
NET "VLights<0>" LOC = "p42"|IOSTANDARD=LVCMOS33; # CMOD-P32 - I/O

NET "Motor<0>" LOC = "p18"|IOSTANDARD=LVCMOS33; # CMOD-P9 - I/O
NET "Motor<1>" LOC = "p19"|IOSTANDARD=LVCMOS33; # CMOD-P10 - I/O
NET "Motor<2>" LOC = "p20"|IOSTANDARD=LVCMOS33; # CMOD-P11 - I/O
NET "Motor<3>" LOC = "p21"|IOSTANDARD=LVCMOS33; # CMOD-P12 - I/0